<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rit.se.www.findmybus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddBusActivity"
            android:label="@string/title_activity_add_bus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrackedBusesActivity"
            android:label="@string/title_activity_tracked_buses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CurrentBusInfoActivity"
            android:label="@string/title_activity_current_bus_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <provider android:name="RouteProvider"
            android:authorities="edu.rit.se.www.findmybus.RouteProvider"/>
    </application>

</manifest>